<div class="d-flex justify-content-center align-items-center flex-direction: center">

    <table class="table border-1">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.name %> </td>
                <td><%= user.username %> </td>
                <td><%= user.email %> </td>
                <td>
                
                <%= link_to "Show User", user_path(user), :class => "btn btn-primary m-1" %>
                <%= button_to "Delete User", delete_user_path(user), method: :delete, data: {confirm: "Are you sure"}, :class => "btn btn-danger" %> 
                
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>

</div>
<%= link_to "+ New User", new_user_path,:class => "btn btn-info m-1" %>


